<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMQU Ping Test</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">EMQU</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Inicio</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="/devices">Equipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/device/create">Crear Equipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/pingTest">Estadísticas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="/signup">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/signin">Iniciar Sesión</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
